
header{
  background-color:snow;
  color:black;
  border-bottom:solid 1px black;
}
.main-header{
  display:flex;
  flex-direction:row;
}
.menu-icon{
  display:none;
}
.logo{
  padding: 20px 20px;
  height:60px;
  width:60px;
}
.website-title{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.nav{
  margin-left:auto;
  display:flex;
  flex-direction: row;
}
.nav-icon{
  height:40px;
  width:40px;
  margin:25px 10px;
}
.nav-icon:hover{
  cursor: pointer;
}
.language-dropdown select {
  background-color: snow;
  border: none;
  margin:25px 10px;
  font-size: 20px;
  color: #333;
  cursor: pointer;
  width: 50px;
}
.language-dropdown select:focus {
  outline: none;
  border-color: #007bff;
}
.nav-bottom{
  display:flex;
  flex-direction:row;
  justify-content: center;
  gap:9%;
}
.nav-bottom h4{
  cursor: pointer;
}
.mobile-menu {
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 8px;
  border-top: 1px solid #ddd;
  display: none;
}

.home{
  padding:30px;
  text-align: center;
}
.home-title{
  font-family: "Montserrat", sans-serif;
}
.home-inner{
  display: inline-block;
  text-align:center;
}
.home-body{
  max-width:45%;
  margin:0 auto;
  word-break: break-word;
}

.products-body{
  margin-left:40px;
  margin-right:40px;
}


.filter-bar{
  padding:20px;
  border-top: solid 1px #9e9b9b;
  border-bottom:solid 1px #9e9b9b;
  display:flex;
  flex-direction:row;
}
.total-items{
  font-weight:bold;
}
.filter-switch{
  padding-left: 20px;
  color: #333;
}
.filter-switch:hover{
  cursor: pointer;
}
.sort-dropdown{
  margin-left:auto;
}
.sort-dropdown select {
  background-color: snow;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  color: #333;
  width: 220px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.sort-dropdown select:focus {
  outline: none;
  border-color: #007bff;
}
.filter-button{
  display: none;
}
.arrow{
  height:14px;
  width:14px;
}
.productfilter-parent{
  display: flex;
  flex-direction: row;
}
.sidebar {
  min-width: 200px;
  padding: 1rem;
  font-family: Arial, sans-serif;
}
.toggle-button {
  background-color: transparent;
  border: none;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1rem;
}
.filters {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.filter-section{
  border-bottom:1px solid #333;
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.filter-section label {
  display: block;
  margin: 0.3rem 0;
  font-size: 13px;
  color: #333;
}
.filter-section input[type='checkbox'] {
  margin-right: 8px;
}
.filter-title{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-Weight: bold;
  margin-bottom: 0.5rem;
}
.all{
  margin-bottom: 4px;
   font-weight: bold;
}
.select-link{
  background: none;
  border: none;
  color: #888;
  font-size:0.8rem;
  cursor:pointer;
  padding: 0;
  margin-bottom:0.5rem;
}
.options{
  display:block;
   margin-top:4px;
}

.products-container.with-sidebar {
  width: 75%;
}
.products-container.full-width {
  width: 100%;
}


.card{
  display:flex;
  flex-direction:column;
}
.card-image{
  height:45vh;
  width:20vw;
}
.card-wishlist:hover{
  cursor: pointer;
}
.card-details-bottom{
  display:flex;
  flex-direction:row; 
  gap:1em;
}
.card-title{
  width:20em;
  word-wrap:break-word;
  overflow:hidden;
}
.auth-options{
  color:#333;
  font-size:10px;
}
.card-signin-link:hover{
  cursor: pointer;
}


.footer {
  background-color: #000;
  color: #fff;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}
.footer-top {
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.subscribe,
.footer-contact {
  min-width: 300px;
  margin: 10px;
}

.subscribe h4,
.footer-contact h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subscribe p {
  margin-bottom: 10px;
}

.subscribe form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: nowrap;
}

.subscribe input {
  padding: 10px;
  border: none;
  outline: none;
  font-size: 14px;
  width: 250px;
  max-width: 100%;
}

.subscribe button {
  padding: 10px 20px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-top: 1px solid #444;
  padding-top: 40px;
}

.footer-column {

  min-width: 200px;
  margin: 10px;
}

.footer-column h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column li {
  align-items: start;
  margin-bottom: 8px;
  font-size: 14px;
  cursor: pointer;
}

.social-icons img {
  font-size: 20px;
  margin-right: 10px;
  height: 30px;
}

.payment-icons img {
  height: 30px;
  margin-right: 10px;
  margin-top: 10px;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
}

.login{
  position: relative;
}

.login p{
  background-color: wheat;
  padding-left:30px;
  padding-right:30px;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}

.outer-container{
  display: flex;
  justify-content: center;
}

.notRegistered{
  padding-top:20px;
  justify-self:center;
  cursor: pointer;
  color:blue;
  
}

.notRegistered:active{
  color:red;
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  border:none;
}
form{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-top:40px;
  width:400px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.login-final-button{
  cursor: pointer;
  width:80px;
  
}

.name{
  display:flex;
  flex-direction: column;
  
}
.email{
  display:flex;
  flex-direction: column;
  
}
.password{
  display:flex;
  flex-direction: column;
  
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 768px) {

  .main-header{
    display:flex;
    flex-direction: row;
    margin-top: 20px;
  }
  .menu-icon {
    display: block; /* Show hamburger menu */
    margin: 25px 0px;
    height:30px;
    width:30px;
  }
  .nav-bottom {
    display: none; /* Hide horizontal navigation on small screens */
  }
  .nav-icon{
    height:30px;
    width:30px;
    margin:25px 5px;
  }
  .login{
    display:none;
  }
  .language-dropdown{
    display:none;
  }
  .mobile-menu {
    display: flex; /* Show mobile-specific menu */
  }
  .website-title {
    padding-top:15px;
    font-size:20px;
  }

  p {
    font-size: 12px;
  }

  .total-items{
    display: none;
  }
  .filter-switch{
    display: none;
  }
  .filter-button{
    display: flex;
    align-self: center;
    margin-left:auto;
    cursor: pointer;
    font-weight: bold;
    font-size:18px;
    padding-right:20%;
    border-right:1px solid #9e9b9b;
  }

  .sort-dropdown{
    max-width: 50%;
  }
  .sort-dropdown select {
    border: none;
    padding: 10px 16px;
    font-size: 16px;
    color: #333;
    width:180px;
    cursor: pointer;
  }

  .sidebar{
    max-width:100px;
  }
  .filters{
    max-width:150px;
  }

  .card-image{
    height:20vh;
    width:30vw;
  }
  .card-title{
    width:7em;
    word-wrap:break-word;
    overflow:hidden;
  }
  .auth-options{
    width:7em;
    word-wrap:break-word;
    overflow:hidden;
  }
  .filter-section input[type='checkbox'] {
    margin-right:0px;
  }

}

@media screen and (min-width:768px) and (max-width: 1020px) {
  
  .card-image{
    height:30vh;
    width:25vw;
  }
  .card-title{
    width:10em;
    word-wrap:break-word;
    overflow:hidden;
  }
  .auth-options{
    width:10em;
    word-wrap:break-word;
    overflow:hidden;
  }

}