@import url("https://uilight.netlify.app/main.css");

header{
  display:flex;
  flex-direction:row;
  background-color: coral;
  color:cadetblue;
}

h1{
  margin-left:10px;
}

.nav{
  margin-left:auto;
  display:flex;
  flex-direction: row;
}

.login{
  position: relative;
}

.login p{
  background-color: wheat;
  padding-left:30px;
  padding-right:30px;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}

.outer-container{
  display: flex;
  justify-content: center;
}

.notRegistered{
  padding-top:20px;
  justify-self:center;
  cursor: pointer;
  color:blue;
  
}

.notRegistered:active{
  color:red;
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  border:none;
}
form{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-top:40px;
  width:400px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.login-final-button{
  cursor: pointer;
  width:80px;
  
}

.name{
  display:flex;
  flex-direction: column;
  
}

.email{
  display:flex;
  flex-direction: column;
  
}

.password{
  display:flex;
  flex-direction: column;
  
}

.nav img{
  height:70px;
  width:70px;
  margin:20px;
}

.nav img:hover{
  cursor: pointer;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
